body {
  background-color: rgb(14, 12, 21);
  color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

a {
  color: #4a90e2;
  text-decoration: none;
  margin: 0 0.3em;
  transition: color 0.2s;
}

a:hover {
  color: #23527c;
}

#box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to right,
    #00aaa7,
    #7f42a7,
    #6600c5,
    #1f2b9c,
    #0099ff,
    #00aaa7
  );
  background-size: 200%;
  animation: GradientAnimation 2.5s ease infinite;
  width: 375px;
  height: 300px;
  clip-path: polygon(
    0 0,
    90% 0%,
    100% 10%,
    100% 90%,
    100% 100%,
    10% 100%,
    0% 90%,
    0% 10%
  );
}

#login-container {
  position: absolute;
  inset: 7px 7px 7px 7px;
  padding: 5px 5px;
  background-color: rgb(14, 12, 21);
  width: auto;
  max-width: 350px;
  text-align: center;
  clip-path: polygon(
    0 0,
    90% 0%,
    100% 10%,
    100% 90%,
    100% 100%,
    10% 100%,
    0% 90%,
    0% 10%
  );
}

h2 {
  margin-bottom: 20px;
  font-size: 22px;
}

input {
  padding: 12px;
  width: 90%;
  background-color: transparent;
  margin-bottom: 20px;
  color: lightgray;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

button {
  padding: 12px 20px;
  background-color: transparent;
  color: transparent;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  background: linear-gradient(
    to right,
    #00aaa7,
    #7f42a7,
    #6600c5,
    #1f2b9c,
    #0099ff,
    #00aaa7
  );
  background-size: 200%;
  background-clip: text;
  animation: GradientAnimation 2.5s infinite;
  transition: 0.3s;
}

button:hover {
  font-size: 19px;
}

@keyframes GradientAnimation {
  to {
    background-position: 200%;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 0.95em;
  padding: 12px 0;
  z-index: 20;
}

.footer a {
  color: #4a90e2;
  text-decoration: none;
  margin: 0 0.3em;
  transition: 0.5s;
}

.footer a:hover {
  color: transparent;
  font-size: 1.5em;
  background: linear-gradient(
    to right,
    #00aaa7,
    #7f42a7,
    #6600c5,
    #1f2b9c,
    #0099ff,
    #00aaa7
  );
  background-clip: text;
  background-size: 150%;
  animation: GradientAnimation 2.5s infinite;
}

#error-box {
  background-color: #ffdddd;
  color: #a94442;
  border: 1px solid #e6a5a5;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  font-size: 14px;
}

@media (max-width: 480px) {
  h2 {
    font-size: 20px;
  }

  input,
  button {
    font-size: 15px;
    padding: 10px;
  }

  .footer {
    font-size: 0.85em;
    padding: 8px 0;
  }
}
